{% load static %}
<!DOCTYPE html>



<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testseite Kalender</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/webuntis.css' %}">
</head>




<body>

<div class="topnav">
    <p>OTH Regensburg</p>
</div>

<div class="content">

    <div class="grid-container">
        <div class="item1"></div>
        <div class="day">Mo</div>
        <div class="day">Di</div>
        <div class="day">Mi</div>
        <div class="day">Do</div>
        <div class="day">Fr</div>


        <div class="time">8:15</div>
        <div class="time">10:00</div>
        <div class="time">11:45</div>
        <div class="time">13:30</div>
        <div class="time">15:15</div>
        <div class="time">17:00</div>
        <div class="time">18:45</div>

        <div class="mo">Inhalt</div>
        <div class="di">Inhalt</div>
        <div class="mi">Inhalt</div>
        <div class="do">Inhalt</div>
        <div class="fr">Inhalt</div>


    </div>



</div>



<div class="footer">
  <p>footer</p>
</div>


</body>
</html>