{% load static %}
<!DOCTYPE html>



<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testseite Kalender</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/webuntis.css' %}">
</head>




<body>


<div class="grid-container">
    <div class="header">
        <h1>OTH Regensburg</h1>
    </div>

    <div class="left">
        Stundeninformation <br>
        20 %
    </div>

    <div class="right">
        5 %
    </div>

    <div class="middle">
        Und hier soll der Plan reinkommen
    </div>


    <div class="footer">
        Created by Michael Jupke
    </div>

</div>
</body>
</html>