{% load static %}
{% load tz %}

<!DOCTYPE html>



<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testseite Kalender</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/webuntis.css' %}">
</head>



<body>


<div class="topnav">

    <p>OTH Regensburg  Raum: {{ roomsel.name }} </p>

</div>


<div>
    {% for mo in monday %}
        Montag {{ mo.dtstart|localtime|time }} - {{ mo.dtend|localtime|time }}: {{ mo.summary }}<br>
    {% endfor %}
</div>



<div class="content">

    <div class="grid-container">
        <div class="item1"></div>
        <div class="day">Mo</div>
        <div class="day">Di</div>
        <div class="day">Mi</div>
        <div class="day">Do</div>
        <div class="day">Fr</div>


        <div class="time">8:15</div>
        <div class="time">10:00</div>
        <div class="time">11:45</div>
        <div class="time">13:30</div>
        <div class="time">15:15</div>
        <div class="time">17:00</div>
        <div class="time">18:45</div>

        <div class="mo">
			<div style="top: 0%; height: 13.286%" class="event">
				<p>Signale und Systeme<br>
				Stt
			</div>
			<div style="top: 14.286%; height: 13.286%" class="event">
				<p>Signale und Systeme<br>
				Stt
			</div>
			<div style="top: 42.858%; height: 13.286%" class="event">
				<p>Informatik 2
			</div>
			<div style="top: 57.144%; height: 20.429%" class="event">
				<p>Informatik 3
			</div>
		</div>



        <div class="di">
			<div style="top:0%; height: 13.286%" class="event">
				<p>Informatik 2
			</div>
			<div style="top: 14.286%; height: 13.286%" class="event">
				<p>Signale und Systeme<br>
				Stt
			</div>
			<div style="top: 28.564%; height: 13.286%" class="event">
				<p>Informatik 2
			</div>

		</div>

        <div class="mi">
			<div style="top: 0%; height: 84.714%" class="event">
				<p>Signale und Systeme<br>
				Stt
			</div>
		</div>


        <div class="do">Inhalt</div>
        <div class="fr">Inhalt</div>


    </div>



</div>



<div class="footer">
  <p>footer</p>
</div>


</body>

</html>