* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



.grid-container {
    display: grid;
    grid-template-columns: 12.5% 17% 17% 17% 17% 17% ;
    grid-column-gap: 0.5vw;
    grid-row-gap: 0.5vh;
    background-color: #2196F3;
    padding: 0.5vh 0.5vw;
    height: 80vh;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  /* font-size: 30px; */
}

.day {
    color: #cc1111;
}

.mo {
    grid-column: 2 / 2;
    grid-row: 2 / 9;
}

.di {
    grid-column: 3 / 3;
    grid-row: 2 / 9;
}

.mi {
    grid-column: 4 / 4;
    grid-row: 2 / 9;
}

.do {
    grid-column: 5 / 5;
    grid-row: 2 / 9;
}

.fr {
    grid-column: 6 / 6;
    grid-row: 2 / 9;
}

.time {
    grid-column: 1 / 1;
    color: green;
}










/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    color: #ffffff;
    padding: 1vh 20px;
}


/* Style the content */
.content {
    background-color: #ddd;
    padding: 0.5vh 0.5vw;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1vh 0;
}

